{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block head %}


{% endblock %}

{% block body %}

    <div class="px-4 py-5 my-5 text-center" style="color: white">
        <img class="d-block mx-auto mb-4" src="{{ asset('images/logo.png') }}" style="width: 300px; height: 300px">
        <h1 class="display-5 fw-bold mb-4">Contact Us</h1>
        <div class="col-lg-6 mx-auto">
            <p><i class="fas fa-home me-3"></i> Timisoara, Piata Libertatii, Romania </p>
            <p>
                <i class="fas fa-envelope me-3"></i>
                winner@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>

        </div>
    </div>


{% endblock %}
